.navbar-nav {
    margin-right: 0rem !important;
    padding-right: 5rem;
}

.navlinks {
    margin-left: auto;
}

.navbar-brand,
.nav-urls {
    color: rgb(19, 18, 19);
}

.nav-urls {
    text-decoration: none;
}

.navbar-brand {
    width: 70%;
}

.navbar-brand img {
    width: 8%;
    height: 4%;
}

.nav-item a {
    text-decoration: none;
}

.nav-urls {
    cursor: pointer;
    margin-right: 2rem;
}

.nav-urls:hover {
    color: white;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

@media only screen and (max-width:991px) {
    .navbar-brand {
        width: 30%;
    }

    .navbar-brand img {
        width: 50%;
    }

    .nav-urls {
        font-size: 1rem;
        margin-right: 1.5rem;
    }
}